body {
  background-image: url("/home/thibault/CODE/Challenge/Challenge_1/images/bg.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

header {
  font-family: 'Bitter', serif;
}

nav {
  background-color: #0f0701;
  color: #ffffff;
  height: 60px;
  width: 1020px;
  margin: auto;
  position: relative;
}

nav ul {
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 15px;
  margin-left: 200px;
}

li {
  display: inline;
  text-transform: uppercase;
  font-size: 1em;
  margin-right: 20px;
}

nav ul li:hover {
  color: #cdb000;
  font-style: italic;
}

h1 {
  background-color: #0f0701;
  font-family: 'Josefin Sans', sans-serif;
  color: #cdb000;
  text-align: center;
  text-transform: uppercase;
  font-size: 8em;
  font-weight: lighter;
  height: 60px;
  width: 1020px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 120px;
}

h2 {
  background-color: #0f0701;
  color: #cdb000;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  height: 60px;
  width: 1020px;
  margin: auto;
  padding-top: 30px;
}

.lienspos {
  background-color: #e7e7e7;
  position: relative;
  height: 60px;
  width: 1020px;
  margin: auto;
  color: #939393;
  font-size: 2em;
}

.liens {
  margin-left: 368px;
  margin-top: 10px;
  position: absolute;
}

section {
  font-family: 'Bitter', serif;
}

.middle {
  background-color: #ffffff;
  position: relative;
  width: 1020px;
  margin: auto;
  color: #76747b;
}

.middle p {
  width: 900px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 60px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 30px;
}

hr {
  height: 3px;
  width: 900px;
  border: 0px solid;
  color: #e7e7e7;
  background-color: #e7e7e7;
  margin-bottom: 0px;
  padding-bottom: : 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.articles {
  background-color: #ffffff;
  width: 1020px;
  color: #76747b;
  margin: auto;
}

article {
  display: inline-block;
  height: 675px;
  margin-top: 60px;
}

.art1 {
  margin-left: 60px;
}

.art2 {
  margin-left: 60px;
  margin-right: 60px;
}

.art3 {
  margin-right: 60px;
}

.art1 img, .art2 img, .art3 img {
  height: 195px;
  width: 260px;
}

.art1 p, .art2 p, .art3 p {
  height: 480px;
  width: 260px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

article p {
  width: 260px;
  line-height: 25px;
  font-weight: bold;
  font-size: 0.8em;
}

#arrow {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #0f0701;
  opacity: 0.5;
  font-size: 1.5em;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

p a {
  color: #76747b;
}

p a:hover {
  color: #cdb000;
}

nav a:hover {
  color: #cdb000;
  font-style: italic;
}

.current {
  color: #cdb000;
}
